body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eaf0f5;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.form-section {
    width: 50%;
}

h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
}

.google-signin {
    background-color: #db4437;
    color: white;
    border: none;
    padding: 10px;  
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

label {
    font-size: 0.9em;
}

.create-account {
    background-color: #284370;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.image-section {
    width: auto;
    height: auto;
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}